{% extends "layout.html" %}
{% block title%}
Accepted Asset Logs
{% endblock %}

{% block style %}
    <style>
        .assetImage{
            height : 70px ;
            width : 70px ;
        }
      
    </style>
{% endblock %}

{% block main %}
<hr/>
  <h2 class="text-center">Accepted Asset Logs</h2>
<hr/>
{% if rows|length != 0 %}
    <table class="table text-center my-4">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Product</th>
          <th scope="col">Seller Name</th>
          <th scope="col">Description</th>
          <th scope="col">Image</th>
          <th scope="col">Created Time</th>
          <th scope="col">Target Bid</th>
        </tr>
      </thead>
      <tbody>
      {% for asset_detail in rows %}
        <tr>
          <th scope="row">{{asset_detail["Name"]}}</th>
          <td>{{asset_detail["Username"]}}</td>
          <td width="50%">{{asset_detail["Description"]}}</td>
          <td><a href="{{ asset_detail['Image'] }}" target="_blank"><img class="assetImage" src="{{asset_detail['Image']}}" /></a></td>
          <td>{{asset_detail["TimeStamp"]}}</td>
          <td>{{asset_detail["tarBid"]}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% else %}
    <center><h2 class="text-muted my-2">No Pending Assets Till Now .. !!</h2></center>
{% endif %}
{% endblock %} 