{% extends "layout.html" %}
{% block title%}
Best things ahead!!!!
{% endblock %}
{% block main %}
<nav class="navbarnavbar-light mt-1" style="background-color: #e3f2fd;">
    
    <ul class="bl-navbar-elements navbar-nav ml-auto">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <li class="nav-item active">
        <a class="nav-link" href="/addAssets">
          <i class="fa fa-plus-circle"></i>
        </a>
      </li>
    </ul>
  </nav>

  {% for item in rows %}
  <div class="container my-3">
    <!--Body part of layout started here-->
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center">
                <div class="card mt-3 ">
                    <img src="{{item.Image}}" class="asset_img img-fluid card-img"/>
                    <div class="card-header bg-dark text-light text-center">
                        <strong style="letter-spacing: 5px;">{{item.Name}}</strong>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-8 pl-5 pt-0">
                <div class="card-body">
                    <p class="card-text">
                        <table>
                            <tr>
                              <td>Uploaded Date: {{item.TimeStamp}}</td>
                            </tr>
                            <tr>
                              <td><strong>Bidding Interval:</strong></td>
                            </tr>
                            <tr>
                              <td><strong>Activation Time:</strong>{{item.AT if isActivated == 1 else ' Not activated yet'}}</td>
                            </tr>
                            <tr>
                              <td><strong>Status:</strong><i> {{item.status}}</i></td>
                            </tr>
                          </table>
                          <hr/>
                          <strong>Start Bid: INR. {{item.startBid}}<br/>
                          Target Bid: INR. {{item.tarBid}}<br/>
                          Maximum Bid: INR. {{item.maxBid}}</strong>
                          <hr/>
                        <form>
                          <div>
                            <button type="button" class="mt-2 btn btn-primary" value="edit">Edit</button>
                          <button type="button" class="mt-2 btn btn-secondary" value="remove">Remove</button>
                          </div>
                        </form>
                    </p>
                </div>
            </div>
        </div>
        <!--The body part ended here-->
    </div>
  {% endfor %}
{% endblock %} 