{% extends "layout.html" %}
{% block title%}
Best things ahead!!!!
{% endblock %}
{% block style %}
<style>
  .container{
            border: 1px solid black;
            width : 1000px ;
            line-height: 28px;
        }
        .asset_img{
            height: 250px;
            width: 400px;
        }
</style>
{% endblock %}
{% block main %}
<nav class="navbarnavbar-light mt-1" style="background-color: #e3f2fd;">

  <div class='row mb-2'>
    <div class='col-md d-flex align-items-center'>
      <form class="form-inline ml-auto">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <span class = "d-flex justify-content-center align-items-center ml-auto mr-2">
        <a class="nav-link ml-auto" href="/addAssets">
          <i class="fa fa-plus-circle"></i>
        </a>
        Want to add assets ?
      </span>
    </div>
    
      
  </div>
    
  </nav>

{% if rows|length != 0 %}
  <hr/>
  <h1 class='text-center text-muted font-weight-bold'>Your Assets</h1>
  <hr/>
{% endif %}
  

{% if rows|length == 0 %}
  <h1 class='text-center text-muted font-weight-bold my-3'>No Assets</h1>
  {% else %}
  {% for item in rows %}
  <div class="container my-3">
    <!--Body part of layout started here-->
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center">
                <div class="card mt-3 ">
                    <a href="{{item.Image}}" target="_blank"><img src="{{item.Image}}" class="asset_img img-fluid card-img"/></a>
                    <div class="card-header bg-dark text-light text-center">
                        <strong style="letter-spacing: 5px;">{{item.Name}}</strong>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-8 pl-5 pt-0">
                <div class="card-body">
                    <p class="card-text">
                        <table>
                            <tr>
                              <strong><td>Uploaded Date</strong>: {{item.TimeStamp}}</td>
                            </tr>
                            <tr>
                              <td><strong>Bidding Interval: {{"%.3f"|format(item.bidTime/3600) }} hrs</strong></td>
                            </tr>
                            <tr>
                              <td><strong>Activation Time:</strong> {{item.AT if item.isActivated == 1 else ' Not activated yet'}}</td>
                            </tr>
                            <tr>
                              <td><strong>Status:</strong><i> {{item.status}}</i></td>
                            </tr>
                          </table>
                          <hr/>
                          <strong>Start Bid: INR. {{item.startBid}}<br/>
                          Target Bid: INR. {{item.tarBid}}<br/>
                          Maximum Bid: INR. {{item.maxBid}}</strong>
                          <hr/>
                          <div>
                            <div class='row'>
                            <div class='col-md-5 d-flex justify-content-around'>
                              {% if item.isActivated == 0 %}
                              <form action="" method="DELETE">
                                <input type='text' name='assetId' hidden value='{{item.Id}}' />
                                <button type="submit" class="mt-2 btn btn-secondary" value="remove">Remove</button>
                              </form>
                              {% if item.status == 'Accepted' %}
                                <form action="/asset/activate" method="POST">
                                  <input type='text' name='assetId' hidden value='{{item.Id}}' />
                                  <button type="submit" class="mt-2 btn btn-success" value="activate">Activate</button>
                                </form>
                              {% endif %}
                            {% endif %}
                            </div>
                            {% if item.status == 'Pending' %}
                            <button type="button" class="mt-2 btn btn-primary" value="edit">Edit</button>
                          {% endif %}
                          </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <!--The body part ended here-->
    </div>
  {% endfor %}
{% endif %}


  
{% endblock %} 