{% extends "layout.html" %}
{% block title %}
    Assets
{% endblock %}
{% block main %}
<div class="container mt-5">
<div class="row">
    <div class="col-md register-form d-flex flex-column justify-content-center">
      <div class="d-flex justify-content-center border-bottom mb-3"> 
        <h2 class="text-muted"><em>Just one step away from best deals</em></h2>
        
      </div>
      <form action="/addAssets" method="POST">
      <div>
          <p class="display-4">Add Your Assets Here</p>
        <div class="mb-3">
          <h5 class="">Asset Name 
            (<span class="note-symbol">* This name will be directly visible to client</span> )
          </p>
          <input
            type="text"
            name = "Name"
            class="form-control"
            id="name"
            placeholder="Asset Name"
          />
        </div>
        <div class="mb-3">
          <h5>Describe your asset </h5>
          <input
            type="text"
            name = "Description"
            class="form-control"
            id="description"
            placeholder="Description...."
          />
        </div>
        <div class="mb-3">
          <h5>Upload image of your asset</h5>
          <input  type="file" class="form-control" id="assimage" multiple onchange = "updateImageAsset();" />
          <input type="hidden" name="assetimage" value="default" id="assetvalue" />
          
        </div>
        <div class="mb-4">
          <h5>Target Bid</h5>
          <input
            type="number"
            name = "tarBid"
            class="form-control"
            id="tarBid"
            placeholder="Target Bid"
          />
        </div>        
        <div class="mb-3 d-flex">
            <button class="btn btn-primary ml-auto mr-2 px-3">
              Add Asset
            </button>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
<script>
  const updateImageAsset = async () => {
    const govtproof = document.getElementById("assimage").files[0];

    const CLOUDINARY_UPLOAD_PRESET = "hkz2frlf";
    const CLOUDINARY_URL =
      "https://api.cloudinary.com/v1_1/blog-zone/image/upload";

    const formData = new FormData();
    formData.append("file", assetimage);
    formData.append("upload_preset", CLOUDINARY_UPLOAD_PRESET);
    formData.append("cloud_name", "dv2aqilgt");

    const response = await fetch(CLOUDINARY_URL, {
      method: "POST",
      body: formData,
    });
    const final_res = await response.json();
    if (!final_res) {
      error_toast("Error occured while uploading image internally .. !!");
      return false;
    }

    document.getElementById("assetvalue").value = final_res.secure_url;
  };
</script>
