{% extends "layout.html" %}
{% block title%}
Best things ahead!!!!
{% endblock %}
{% block main %}
<nav class="navbarnavbar-light mt-1" style="background-color: #e3f2fd;">
    
    <ul class="bl-navbar-elements navbar-nav ml-auto">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <li class="nav-item active">
        <a class="nav-link" href="/addAssets">
          <i class="fa fa-plus-circle"></i>
        </a>
      </li>
    </ul>
  </nav>
{% endblock %} 