{% extends "layout.html" %}

{% block title %}
    After Login
{% endblock %}



{% block script %}

{% endblock %}


{% block main %}
    <div class="container">
        <div class="row">
        {% for asset in row%}        
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ asset['Image'] }}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{asset.Name}}</h5>
                      <p class="card-text">{{asset.Description}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">{{asset.TimeStamp}}</li>
                      <li class="list-group-item">{{asset.tarBid}}</li>
                      <li class="list-group-item">Seller Id: {{asset.SellerId}}</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="btn btn-primary">Bid Now</a>
                      <a href="#" class="btn btn-success">Save for Later</a>
                    </div>
                  </div>    
            </div>
        {% endfor %}
        </div>
    </div>>
{% endblock %}