{% extends "layout.html" %} {% block style %}
<style>
  .row {
    height: 100vh;
  }

  .login-form {
    background-color: whitesmoke;
  }
  .login-text {
    font-size: 25px;
    font-weight: 600;
  }
  .note-symbol {
    color: red;
  }
  .moto-line {
    font-family: "Lobster", cursive;
    font-size: 20px;
  }
</style>

{% block script %}
<script>
  const submitlogin = () => {
    console.log("calling submit login");
  };
</script>
{% endblock %} {% endblock %} {% block main %}
<div class="row">
  <div class="col-md-9 bg-light image-col p-3 h-100">
    
    <img
      class="w-100 h-100"
      style="background-size: cover;"
      src="static/image/banner1.png"
      alt="No image found"
    />
    
  </div>
  <div class="col-md login-form d-flex flex-column justify-content-center">
    <div
      class="d-flex flex-column justify-content-center align-items-center border-bottom mb-3"
    >
    <img class="w-50 h-100" src="static/image/finlogo.png">
      <h3 class="moto-line">Just make a bid and you done 🤩</h3>
    </div>
    <div>
      <form action="/login" method = "POST">
      <div>
        <p class="login-text">Login</p>
      <div class="mb-3">
        <label for="email" class="form-label">Email ID</label>
        <input
          type="email"
          class="form-control"
          name="email"
          id="email"
          placeholder="name@example.com"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          name = "password"
          id="password"
          placeholder="Enter password"
        />
      </div>
      <div class="mb-3 d-flex">
        <span class='d-flex align-items-center'>
          <p class="m-0 mr-2">Don't have an account?<br/>
          <a href='/register'>Click Here</a></p>
        </span>
        <button class="btn btn-primary ml-auto mr-2 px-3">
          Login
        </button>
      </div>
      </div>
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
