{% extends "layout.html" %} {% block style %}
<style>
  .row {
    height: 100vh;
  }

  .register-form {
    background-color: whitesmoke;
  }
  .register-text {
    font-size: 22px;
    font-weight: 600;
  }
  .note-symbol{
      color : red ;
  }
</style>

{% block script %}
    <!--<script>
        const submitRegister = () => {
            console.log("calling submit register") ;
        }
    </script>-->
{% endblock %}

{% endblock %} {% block main %}
<div class="row">
  <div class="col-md-9 bg-dark image-col p-0 h-100">
    <img
      class="w-100 h-100"
      src="https://thumbs.dreamstime.com/b/business-man-use-finger-touch-interface-screen-auction-modern-wireless-network-g-technologies-background-hammer-retro-alarm-151494697.jpg"
      alt="No image found"
    />
  </div>
  <div class="col-md register-form d-flex flex-column justify-content-center">
    <div class="d-flex justify-content-center border-bottom mb-3"> 
      <h2 class="text-muted"><em>Welcome!</em></h2>
      
    </div>
    <form action="/register" method="POST">
    <div>
        <p class="register-text">Register Here</p>
      <div class="mb-3">
        <label for="username" class="form-label">Username (<span class="note-symbol">* This username will be directly visible to client</span> )</label>
        <input
          type="text"
          name = "username"
          class="form-control"
          id="username"
          placeholder="Your Username"
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email ID</label>
        <input
          type="email"
          name = "emailId"
          class="form-control"
          id="email"
          placeholder="name@example.com"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name = "password"
          class="form-control"
          id="password"
          placeholder="Enter password"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Adhar Number</label>
        <input
          type="AdharNumber"
          name = "AdharNumber"
          class="form-control"
          id="AdharNumbe"
          placeholder="Enter Adhar Number ..."
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Confirm Password</label>
        <input
          type="password"
          name = "confirm"
          class="form-control"
          id="cpassword"
          placeholder="Confirm Password"
        />
      </div>
      <div class="mb-3 d-flex">
        <span class='d-flex align-items-center'>
          <p class="m-0 mr-2">Already have an account?
          <a href='/login'>Click Here</a></p>
        </span>
          <button class="btn btn-primary ml-auto mr-2 px-3">
            Register
          </button>
      </div>
    </div>
    </form>
  </div>
</div>
{% endblock %}
