{% extends "layout.html" %} {% block style %}
<style>
  .row {
    height: 95vh;
  }

  .register-form {
    background-color: whitesmoke;
  }
  .register-text {
    font-size: 25px;
    font-weight: 600;
  }
  .note-symbol{
      color : red ;
  }
</style>

{% block script %}
    <script>
        const submitRegister = () => {
            console.log("calling submit register") ;
        }
    </script>
{% endblock %}

{% endblock %} {% block main %}
<div class="row">
  <div class="col-md-9 bg-dark image-col p-0 h-100">
    <img
      class="w-100 h-100"
      src="https://media.istockphoto.com/photos/gavel-on-auction-word-picture-id917901978?k=6&m=917901978&s=612x612&w=0&h=xCylR78onIYx2mU-as2L3PBEADDeFqGFP5U6rJJhwu8="
      alt="No image found"
    />
  </div>
  <div class="col-md register-form d-flex flex-column justify-content-center">
    <div class="d-flex justify-content-center border-bottom mb-3"> 
      <h2 class="text-muted">Hello Visitor(s) .. !!</h2>
      
    </div>
    <div>
        <p class="register-text">Register Here</p>
      <div class="mb-3">
        <label for="username" class="form-label">Username (<span class="note-symbol">* This username will be directly visible to client</span></label> )
        <input
          type="text"
          class="form-control"
          id="username"
          placeholder="Your Username"
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email ID</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="name@example.com"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Enter password"
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="cpassword"
          placeholder="Confirm Password"
        />
      </div>
      <div class="mb-3 d-flex">
        <span class='d-flex align-items-center'>
          <p class="m-0 mr-2">Already have an account?</p>
          <a href='/login'>Click Here</a>
        </span>
          <button onclick="submitRegister()" class="btn btn-primary ml-auto mr-2 px-3">
            register
          </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
